.landpage{
  background-image: url("./images/landing1.jpg");
  background-repeat: none;
  color:white;
  text-align: center;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;

}
.landpage h1{
  font-weight: 500;
  margin-top: 2rem;
  line-height: 1.5;
  
}

.logo{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border:solid white ;
  font-size: xx-large;
  display: inline-block;
  margin-top: 12rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-top: 3px;
}
 
