.landpage{
  background-image: url("./images/landing1.jpg");
  background-repeat: none;
  color:white;
  text-align: center;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;

}
.landpage h1{
  font-weight: 500;
  margin-top: 2rem;
  line-height: 1.5;
  
}
.landpage p {
  font-size: small;
}

.logo{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border:solid white ;
  font-size: xx-large;
  display: inline-block;
  margin-top: 12rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-top: 3px;
}
 .small{
   height: 10px;
   width: 15px;
   border-radius: 25px;
   border-radius: solid white;
 }
 .about{
   text-align: center;
   line-height: 2.1;
 }
 .about h2{
  margin-left: 29rem;
  padding-top: 1rem;
  font-weight: 500;

 }
 .services{
   height: 400px;
   text-align: center;
   line-height: 2.3;
   background-image: url(./images/background3.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
 }
 .services p{
   margin-left: 7rem;
   font-weight: 400;
  
 }
 .services h2{
 margin-left: 29rem;
 font-weight: 500;
 margin-top: 5rem;

 }
.whatwedo{
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  
  
} 
.service{
  font-weight: bolder;
  /* padding-left: 10rem; */
}